[run]
source =
    cryptodatahub
    updaters
omit =
    cryptodatahub/__setup__.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
fail_under = 100
include =
    cryptodatahub/**/*
    updaters/*
show_missing = True
